#incoming_content {
    margin-top: 30px;
}

.date_label {
    padding: 7px 10px;
    font-family: var(--Nunito);
    background: #e9ecef;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.date_picker {
    padding: 6px 10px;
    border: solid 1px #e9ecef;
    font-weight: 500;
    font-size: 18px;
    font-family: var(--Nunito);
    border-radius: 0px 5px 5px 0px;
}